

/*class stuff dropdown*/

  .dropdown {
            position: relative;
            display: inline-block;
            font-size: 20px;
        }

        .dropdown > a {
            color: #000000;
            text-decoration: none;
            font-weight: bold;
            cursor: pointer;
            padding: 8px;
        }

        .dropdown-content {
            display: none;
            position: absolute;
            background-color: rgb(235, 121, 15);
            box-shadow: 0px 4px 8px rgba(0,0,0,0.2);
            border-radius: 8px;
            min-width: 160px;
            z-index: 1;
        }

        .dropdown-content a {
            display: block;
            color: black;
            text-decoration: none;
            padding: 8px 12px;
        }

        .dropdown-content a:hover {
            background-color: #f1f1f1;
        }

        .dropdown:hover .dropdown-content {
            display: block;
        }

        .main-nav { 
            display: inline-block;
            font-size: 20px;
            margin-left: 30%;
            background-color: rgb(194, 168, 168) 
        }
        .main-nav a {
            color: #000000;
            text-decoration: none;
            font-weight: bold;
            cursor: pointer;
            padding: 10px;
        }

/*main header*/
h1 { 
    margin-bottom: 2%;
    margin-top: 0%;
    text-align: center;
    font-size: 60px;
    font-family: cursive;
    text-shadow: 0 0 5px rgb(253, 145, 63);
    border: 5px solid rgb(0, 0, 0);
    border-radius: 20px;
    background-color: rgb(71, 53, 23);
    padding: 10px;
}

/*images*/
.image-row {
  display: flex;          /* put images side by side */
  justify-content: space-between;  /* optional spacing */
  align-items: flex-start;         /* align tops */
  margin: 20px;
}

.image-row img {
  width: 45%;             /* same width or adjust as needed */
  height: 500px;
  border-radius: 10px;
}

#bakery {
    display: flex;
    justify-content: center; /* center the image */
    margin: 20px;
    align-items: flex-start; /* align tops */

}
#bakery img {
    width: 50%; /* adjust as needed */
    height: 500px;
    border-radius: 10px;
}


/*about section*/
h3 { 
    margin-top: 15%;
    margin-left: 3%;
    text-align:center;
    font-size: 35px;
    font-family: cursive;
    text-shadow: 0 0 6px rgb(236, 102, 0);
}

.about-section {
  align-items: center;            /* Pushes the box to the right */
  justify-content: center;
  width: 800px;            /* Set the width of the box */
  height: 300px;
  padding: 15px;           /* Space inside the box */
  margin-left: 21%;         /* Space outside the box */
  font-size: x-large;
  background-color: rgb(255, 199, 108); /* Light background */
  border-radius: 50px;      /* Rounded corners (optional) */
}

.highlight {
  color: rgb(0, 0, 255);
  font-weight: bold;
    text-shadow: 0 0 10px rgb(255, 255, 255);
 
}

    
body {
    background-color: rgb(227, 230, 206);
}
footer {
    text-align: center;
    font-size: 15px;
    font-family: cursive;
    margin-top: 50%;
    margin-bottom: 1%;
    margin-left: 4.5%;
    border-radius: 20px;
    padding: 10px;
    height: 400px;
    background-color: rgb(138, 107, 77);;
    width: 90%;

    p { 
    font-size: 25px;
    text-align:center;
    font-size: 25px;
    font-family: cursive;
    text-shadow: 0 0 6px rgb(236, 102, 0);
    }
}

.phone { 
    font-size: 20px;
    
}

.phone a { 
    text-decoration: none;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 198, 93);
    border-radius: 5px;
    padding: 5px;
    
}
.email { 
    font-size: 20px;
    
}

.email a{ 
    text-decoration: none;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 198, 93);
    border-radius: 5px;
    padding: 5px;

}

.address { 
    font-size: 20px;
    
}
.address a { 
    text-decoration: none;
    color: rgb(0, 0, 0);
    background-color:rgb(255, 198, 93);
    border-radius: 5px;
    padding: 5px;

}
.map {
    margin-top: 20px;
    border-radius: 10px;
}